body {
  font-family: 'Segoe UI', sans-serif;
  background: url('ft.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.main-layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin-top: 60px;
  flex-wrap: wrap;
}

.travel-container {
  width: 360px;
  background: rgba(255, 254, 254, 0.477);
  padding: 25px;
  border-radius: 12px;
}

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin: 12px 0;
  border-radius: 5px;
  border: none;
  font-size: 15px;
}

button {
  background: #00bfff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#output-box {
  width: 320px;
  background: rgba(255, 255, 255, 0.81);
  border-radius: 12px;
  padding: 20px;
  color: black;
  font-size: 16px;
  margin-top: 40px;
  white-space: pre-line;
  max-height:450px;
  margin-left: 50px;
}

/* Responsive for small screens */
@media screen and (max-width: 768px) {
  .main-layout {
    flex-direction: column;
    align-items: center;
  }

  .travel-container,
  #output-box {
    width: 90%;
    margin: 10px 0;
  }
}
#result {
  max-width: 100%;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  padding: 20px;
  font-size: 16px;
  line-height: 1.5;
}
